<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Tests">
    <test name="UI Test">
        <classes>
            <class name="UITests"/>
        </classes>
    </test>

    <!--    <test name="Test Basics 2">-->
    <!--        <parameter name="emailid" value="tester789@gmail.com"/>-->
    <!--        <classes>-->
    <!--            <class name="practiceTests.testOptional"/>-->
    <!--        </classes>-->

    <!--    </test> &lt;!&ndash; Test &ndash;&gt;-->
</suite>