<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Cases">
    <test name="UI Test Cases">
        <classes>
            <class name="Test.UpgradeLoans.UITests"/>
        </classes>
    </test>
    <test name="API Test Cases">
        <classes>
            <class name="Test.UpgradeLoans.APITests"/>
        </classes>
    </test>
</suite>